body {
  margin: 0 auto;
  text-align: left;
  font-family: "adobe-garamond-pro", Garamond, Times, "Times New Roman", serif;
  font-size: 16pt;
  color: #423f47;
  background-color: #fdfdfd;
  max-width: 600px;
  padding: 15px; }

h1 {
  font-size: 42pt;
  margin: 45px 0;
  font-weight: 400;
  text-align: center; }

h3 {
  text-align: center; }

blockquote {
  font-size: 16pt;
  font-family: "europa", Futura, "Gill Sans", Helvetica, sans-serif;
  font-weight: 400;
  quotes: none; }

time {
  font-size: 14pt;
  display: block; }

ol {
  margin: 10px;
  font-size: 18pt; }

ul {
  list-style: none;
  font-size: 18pt; }

.page {
  padding: 0 1em; }

a:visited {
  color: #003366; }

.front {
  font-weight: 300;
  font-family: "europa", Futura, "Gill Sans", Helvetica, sans-serif; }

img {
  width: 100%; }
